*.pyc
*.db
*.csv
*.log
db.sqlite3-journal
*.project
*.pydevproject
*.pyo
*.prefs
*.class
*/__pycache__
.vscode
*/migrations/
*.sqlite3
*.sqlite3-shm
*.sqlite3-wal
build/
dist/
it/
*.pt
*.spec
.idea/
db.sqlite3-*
data/
venv/
venv_win/
config/
migrations/